# Data Science Tools and Ecosystem

## Author: 
Jeff Bleaney

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Introduce some common tools and languages used by data science
- Introduce some basic coding
- Show basic formating options available in a Jupyter notebook

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. ggplot2

| Data Science Tools |
| --- |
| R-Studio |
| Apache Spark |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335